In [1]:
import pandas as pd
import scipy.stats as stats #scipy is a large module.

### A practice to calculate stats moments using scipy.stats.moment module

#### import example monthly rainfall data from 1993-2020

In [2]:
data = pd.read_csv('.\ETH-Kobo_Jan.csv')

data.head(5)

      date       Kobo
0  1993/01  130.62800
1  1994/01    2.70096
2  1995/01    6.30129
3  1996/01  145.08200
4  1997/01  131.76000

#### Get rainfall data column

In [3]:
Rain_Month = data['Kobo']
print(Rain_Month.array)

<PandasArray>
[ 130.628,  2.70096,  6.30129,  145.082,   131.76,  163.011,  80.1149,
  2.42727,  40.1517,   117.45,  51.4494,  146.583,  148.249,   7.2748,
  76.2307,  48.2079,  45.4129,  21.4687,  98.6212,  10.3455,  70.8016,
  33.1062,  23.1936,  119.227, 0.651993,  31.2631,  2.01456,  43.6482]
Length: 28, dtype: float64

#### Compute stats moments

scipy.stats.moment(a, moment=1, axis=0, nan_policy='propagate')

---
***Centered moment means every value minus the mean, so the first centered moment will become 0.***

In [4]:
for s,i in zip(['first', 'second', 'third'], [1,2,3]):
    cmom = stats.moment(Rain_Month.array, moment=i)
    print(f"The {s} centered moment is {cmom:.3f}")  # f+string=可放變數，用大括號刮起來
                                                    # .3f = 留小數點後第三位

The first centered moment is 0.000
The second centered moment is 2819.687
The third centered moment is 66652.319

#### Demonstrate the relationship between 3rd centred moment and coefficient of skewness

skewness = $\frac{m_3}{m_{2}^{3/2}}$

In [5]:
skew_usr = stats.moment(Rain_Month.array, moment=3)/(stats.moment(Rain_Month.array, moment=2)**(1.5))

print(f"The skewness calculated from user: {skew_usr:.3f}")

The skewness calculated from user: 0.445

#### Verify with scipy.stats.skew function

In [6]:
skew = stats.skew(Rain_Month)
print(f"The skewness calculated from scipy.stats function: {skew:.3f}")

The skewness calculated from scipy.stats function: 0.445